
.wrapp {
    width: 95%;
    margin: 0 auto;
    border: 1px solid;
    display: flex;
    padding-top: 2em;
    padding-bottom: 2em;
    border-radius: 3px;
}
#field {
    width: 200px;
    height: 200px;
    margin: 0 auto;
}
#field span {
    width: 62px;
    height: 62px;
    display: block;
    border: 2px solid;
    margin: 0 auto;
    float: left;
    cursor: pointer;
}
#field span.active:before {
    content: "x";
    text-align: center;
    font-size: 44px;
    display: block;
    color: #000;
}
.active_token:before {
    content: "x";
    text-align: center;
    font-size: 44px;
    display: block;
}
.active_token {
    border: 2px solid green !important;
    background: azure;
}
.button {
    margin: 0 auto;
    display: block;
    margin-top: 2em;
}
.left {
    width: 33%;
    display: block;
    float: left;
    text-align: center;
}

.right {
    width: 33%;
    display: block;
    float: right;
    text-align: center;
}
.center {
    float: left;
    width: 34%;
}
.red {
    background: red;
}
footer p {
    text-align: center;
}
